@import "../core/includes";
@import "../core/mixins/forms";

.page {
  display: flex;
  transform: translate(20px, 20px);
  color: $test;

  &__title {
    font-size: 12rem;
  }

  &__lala {
    @include form-control();
  }
}